<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @patron.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patron.last_name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @patron.comment %>
</p>

<%= link_to 'Edit', edit_patron_path(@patron) %> |
<%= link_to 'Back', patrons_path %>
